<table class="sessiontable">
  <tr>
    <th span="2">Name<th>
    <th span="2">Intensity<th>
    <th>Capacity<th>
  </tr>
  <%@session.each do |session|%>
  <tr>
    <td> <%= session.name %> </td>
    <td> <%= session.intensity %> </td>
    <td> <%= session.capacity %></td>
    <td><a href="sessions/<%=session.id%>/edit">Edit<a></td>
  </tr>
  <%end%>
</table>
