<table class="sessiontable">
  <tr>
    <th >Name</th>
    <th >Intensity</th>
    <th>Capacity</th>
    <th></th>
  </tr>
  <%@session.each do |session|%>
  <tr>
    <td> <%= session.name %> </td>
    <td> <%= session.intensity %> </td>
    <td> <%= session.capacity %></td>
    <td><a href="sessions/<%=session.id%>/edit">Edit<a></td>
  </tr>
  <%end%>
</table>
