<table>
  <thead>Name<thead>
  <thead>Intensity<thead>
  <thead>Capacity<thead>
  <%@session.each do |session|%>
  <tr>
    <td> <%= session.name %> </td>
    <td> <%= session.intensity %> </td>
    <td> <%= session.capacity %></td>
    <td><a href="sessions/<%=session.id%>/edit">Edit<a></td>
  </tr>
  <%end%>
</table>
