body{
    font-family: 'Source Sans Pro', sans-serif;
}
header{
  padding: 0 10px;
  clear: both;
}
.logo{
  /* margin: 10px; */
  float: left;
}

.menu {
  position: relative;
  display: inline;
  margin: 10px;
  float: right;
}

.menubtn {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-size: 21px;
  margin: 0, 5px;
  color: #e95537;
  background: transparent;
  border: 5px solid #e95537;
  padding: 10px;
  border-radius: 5px;
}

.menubtn a {
  text-decoration: none;
  color: #e95537;
}

.menubtn a:hover{
  text-decoration: underline;
  color: #e95537;
}

#content {
  background-image: url("/images/contentbg.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  padding-top: 250px;
  clear: both;
  text-align: center;
}
.indexbtns {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-size: 21px;
  background: transparent;
  border: 5px solid #e95537;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 10px;
}
.indexbtns a{
  text-decoration: none;
  color: #e95537;
}
.indexbtns a:hover{
  text-decoration: underline;
  color: #e95537;
}
.membertable {
  width: 50%;
  margin: auto;
  background-color: white;
  text-align: center;
}
.sessiontable {
  width: 50%;
  margin: auto;
  background-color: white;
  text-align: center;
}
th{
  color: white;
  padding: 10px;
  background-color: #e95537;
}
td{
  color: #e95537;
  font-size: 16px;
}
