<h1>Register</h1>

<form class="member_register" action="/members" method="post">
  <label for="first_name">First Name :</label>
  <input type="text" name="first_name" id="first_name"/>

  <label for="last_name">Last Name :</label>
  <input type="text" name="last_name" id="last_name"/>

  <label for="age">Age :</label>
  <input type="number" name="age" id="age"/>

  <label for="fitness_level">Fitness Level 1 - 5 :</label>
  <input type="number" name="fitness_level" id="age"/>

  <label for="session_option">Session :</label>
  <select name="session_id" id="session_option">
    <% @sessions.each do |session| %>
    <option value= <%= session.id %>> <%=session.name%></option>
    <% end %>
  </select>

  <input type="submit" value="Register"/>

</form>
