<h1>Register</h1>

<form class="member_register" action="member/register" method="post">
  <label>First Name :</label>
  <input type="text" name="first_name">
  <label>Last Name :</label>
  <input type="text" name="last_name">
  <label>Age :</label>
  <input type="number" name="age" value="age">
  <label>Fitness Level 1 - 5 :</label>
  <input type="number" name="age" value="age">

  <input type="submit" value="Register">

</form>
